@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@font-face {
  font-family: manus;
  src: url("../assets/manus.ttf");
}

.community_main {
  width: 100%;
  height: 100vh;
  background-color: #f4f3ef;
}

.empty_com {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  font-family: manus;
  color: #888;
  font-size: 40px;
}
