* {
  margin: 0;
  padding: 0;
}

.palette_main {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4f3ef;
}

.palette_main_div {
  width: 80%;
  height: 60%;
  z-index: 1;
}

.hex_div {
  width: 200px;
  height: 80%;
  border: 2px solid #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.color {
  width: 92%;
  height: 80%;
  margin-top: 7px;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lock_adjust {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.unlock {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.adjust {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.unlock:hover,
.adjust:hover {
  opacity: 1;
}

.code_div {
  width: 100%;
  height: 20%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.code_div h1 {
  font-size: 22px;
  color: #746e6e;
  cursor: pointer;
}

.actions_div {
  width: 80%;
  height: 15%;
  background-color: #fff;
}

.rose-round-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  background-color: rosybrown;
  opacity: 0.6;
  transform: translate(-25%, 25%);
}
