@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@font-face {
  font-family: manus;
  src: url("../assets/manus.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.palette_main {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4f3ef;
}

.opacity {
  width: 100vw;
  height: 150vh;
  position: absolute;
  z-index: 3;
  pointer-events: none;
}

.opacity_in {
  background-color: black;
  z-index: 2;
  animation: opacity-anim 0.5s ease-in-out forwards;
  display: block;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }

  80%,
  100% {
    opacity: 0.8;
  }
}

.opacity_out {
  background-color: black;
  animation: opacity-out-anim 0.5s ease-in-out forwards;
}

@keyframes opacity-out-anim {
  0% {
    opacity: 0.8;
  }

  80%,
  100% {
    opacity: 0;
  }
}

.highest_index {
  z-index: 10;
}

.palette_main_div {
  width: 80%;
  height: 60%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.list_div {
  width: 75%;
  height: 80%;
  display: grid;
  grid-template-rows: 15% 85%;
  z-index: 2;
  position: absolute;
  background-color: #f4f3ef;
  border: 2px solid #888;
  transform: translateY(-130%);
  animation: slide-down 2s cubic-bezier(0.64, -0.16, 0.36, 1.56) forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-130%);
  }

  80%,
  100% {
    transform: translateY(0%);
  }
}

.close_list_div {
  animation: slide-up 2s cubic-bezier(0.64, -0.56, 0.36, 1.56) forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }

  80%,
  100% {
    transform: translateY(-150%);
  }
}

.close_list {
  position: absolute;
  top: 0;
  right: 20px;
  font-family: manus;
  font-size: 30px;
  cursor: pointer;
  color: #888;
  user-select: none;
}

.list_header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_header h1 {
  color: #888;
  font-size: 30px;
  pointer-events: none;
  user-select: none;
}

.list_main {
  width: 100%;
  height: 100%;
}

.empty_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: manus;
  font-size: 30px;
  color: #888;
  pointer-events: none;
  user-select: none;
}

.data_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.data_list_item {
  width: 80%;
  min-height: 27%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
}

.data_list_name {
  width: 25%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
}

.data_list_name h1 {
  font-size: 20px;
  pointer-events: none;
}

.data_list_name small {
  pointer-events: none;
  color: #888;
}

.round_items {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
  pointer-events: none;
}

.list_parent_span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(10px);
}

.round_items .list_color_span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.round_items .list_color_span:nth-child(2) {
  transform: translateX(-10px);
}
.round_items .list_color_span:nth-child(3) {
  transform: translateX(-20px);
}
.round_items .list_color_span:nth-child(4) {
  transform: translateX(-30px);
}

.button_items {
  width: 25%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
}

.load_list,
.delete_list {
  width: 40%;
  height: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

.load_list {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
}

.delete_list {
  color: #fff;
  background-color: rosybrown;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(206, 170, 170), -5px -5px 13px #ffffff;
}

.load_list:active,
.delete_list:active {
  box-shadow: inset -4px -4px 20px #d2d1ce, inset 3px 3px 7px #ffffff;
}

.hexCopied {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 7%;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  font-family: manus;
  font-size: 25px;
  border-radius: 5px;
  font-style: italic;
  opacity: 0.5;
  animation: opacity-anim 0.5s ease-in-out forwards;
}

.remove_hexCopied {
  animation: opacity-out-anim 0.5s ease-in-out forwards;
}

.savedMsg {
  position: absolute;
  top: -30px;
  width: 30%;
  height: 7%;
  color: #3d925e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: manus;
  font-size: 25px;
  border-radius: 5px;
  font-style: italic;
  transform-origin: left;
  transform: scaleX(0);
  pointer-events: none;
  animation: slide-in 1s ease-in-out forwards;
}

.saveDiv {
  position: absolute;
  top: -30px;
  width: 70%;
  height: 7%;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: manus;
  font-size: 25px;
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  0% {
    transform: scaleX(0);
  }
  80%,
  100% {
    transform: scaleX(1);
  }
}

.close_saveDiv,
.close_saved_msg {
  transform: scaleX(1);
  animation: slide-out 1s ease-in-out forwards;
}

@keyframes slide-out {
  0% {
    transform: scaleX(1);
  }
  80%,
  100% {
    transform: scaleX(0);
  }
}

.saveDiv p {
  pointer-events: none;
}

.save_input {
  width: 40%;
  height: 30px;
  padding: 5px 0;
  padding-left: 7px;
  color: #5d5858;
  border: 1px solid #888;
  outline: none;
  background-color: inherit;
  font-family: manus;
  font-size: 35px;
}

.save_btn {
  width: 90px;
  height: 40px;
  color: #5d5858;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: manus;
  font-size: 20px;
  cursor: pointer;
  background: #f4f3ef;
  box-shadow: 5px 5px 9px #d2d1ce, -5px -5px 9px #ffffff;
}

.save_btn:active {
  box-shadow: inset -4px -4px 20px #d2d1ce, inset 3px 3px 7px #ffffff;
}

.disabledDiv {
  pointer-events: none;
}

.hex_div {
  width: 200px;
  height: 80%;
  border: 2px solid #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  transition: 0.5s;
}

.color {
  width: 92%;
  height: 80%;
  margin-top: 7px;
  cursor: pointer;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.adjust_div {
  width: 100%;
  height: 79%;
  margin-top: 7px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: -2px;
  background-color: #f4f3ef;
  z-index: 3;
  transform: scaleX(0);
  transition: 0.5s;
}

.open_right {
  right: -101%;
  transform-origin: left;
  transform: scaleX(0);
  border-left: 2px solid #888;
}

.open_left {
  left: -101%;
  transform-origin: right;
  border-right: 2px solid #888;
}

.open_adjust_div {
  transform: scaleX(1);
}

.close_adjust_div {
  transform: scaleX(0);
}

.adjust_div h3 {
  pointer-events: none;
  color: #5d5858;
}

.adjust_div input {
  -webkit-appearance: none;
  width: 80%;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}

.open_right .close_adjust {
  position: absolute;
  top: 0;
  right: 10px;
  font-family: manus;
  font-size: 30px;
  cursor: pointer;
  color: #5d5858;
  transform: translateY(-25%);
}

.open_left .close_adjust {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: manus;
  font-size: 30px;
  color: #5d5858;
  cursor: pointer;
  transform: translateY(-25%);
}

.lock_adjust {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.unlock {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.adjust {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

.unlock:hover,
.adjust:hover {
  opacity: 1;
}

.code_div {
  width: 100%;
  height: 20%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.code_div h1 {
  font-size: 19px;
  color: #5d5858;
  cursor: pointer;
}

.actions_div {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.actions_div button {
  width: 150px;
  height: 45px;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #f4f3ef;
  position: relative;
  background: rosybrown;
  box-shadow: 5px 5px 9px #d2d1ce, -5px -5px 9px #ffffff;
}

.actions_div button:active {
  box-shadow: inset -4px -4px 20px #d2d1ce, inset 3px 3px 7px #ffffff;
}

.rose-round-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rosybrown;
  opacity: 0.6;
  transform: translate(-25%, 25%);
}

.shine_border {
  border: 2px solid #64c98b;
  box-shadow: 0px 0px 4px #64c98b, 0px 0px 7px #64c98b, 0px 0px 10px #64c98b;
}

.shine_red_border {
  border: 2px solid rgb(189, 76, 76);
  box-shadow: 0px 0px 4px rgb(189, 76, 76), 0px 0px 7px rgb(189, 76, 76),
    0px 0px 10px rgb(189, 76, 76);
}

@media screen and (max-width: 780px) {
  body {
    height: 220vh;
    background-color: #f4f3ef;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .palette {
    height: 220vh;
  }

  .palette_main {
    height: 220vh;
    display: flex;
    flex-direction: column;    
  }

  .actions_div {
    width: 100vw;
    height: 20vh;
  }

  .actions_div button {
    width: 87px;
    height: 45px;
    font-size: 15px;
  }

  .palette_main_div {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    transform: translateY(50px);
  }

  .hex_div {
    height: 250px;
  }

  .opacity {
    height: 250vh;
    transform: translateY(-18vh);
  }

  .open_right, 
  .open_left {
    position: absolute;
    width: 200px;
    height: 250px;
    top: -101%;
    left: -2px;
    margin: 0;
    transform-origin: bottom;
    transform: scaleY(0);
    border-left: 2px solid #888;
    border-top: 2px solid #888;
    border-right: 2px solid #888;
  }

  .open_adjust_div {
    transform: scaleY(1);
  }
  
  .close_adjust_div {
    transform: scaleY(0);
  }

  .open_left .close_adjust {
    text-align: end;
    right: 10px;
  }

  .saveDiv {
    width: 100%;
    top: -70px;
  }

  .hexCopied {
    top: -70px;
  }

  .saveDiv p {
    width: 30%;
    font-size: 15px;
  }

  .save_input {
    width: 30%;
    height: 20px;
    padding: 5px 0;
    padding-left: 7px;
    color: #5d5858;
    border: 1px solid #888;
    outline: none;
    background-color: inherit;
    font-family: manus;
    font-size: 17px;
    margin-left: -10px;
  }

  .save_btn {
    width: 50px;
    height: 30px;
    font-size: 15px;
  }

  .list_div {
    width: 100%;
    height: 100vh;
    animation: slide-down-mob 2s cubic-bezier(0.64, -0.16, 0.36, 1.56) forwards;
    z-index: 12;
  }

  @keyframes slide-down-mob {
    0% {
      transform: translateY(-205%);
    }
  
    80%,
    100% {
      transform: translateY(-70%);
    }
  }

  .close_list_div {
    animation: slide-up-mob 2s cubic-bezier(0.64, -0.56, 0.36, 1.56) forwards;
  }
  
  @keyframes slide-up-mob {
    0% {
      transform: translateY(-70%);
    }
  
    80%,
    100% {
      transform: translateY(-205%);
    }
  }

  .data_list_item {
    width: 95%;
    min-height: 18%;
  }
  
  .data_list_name {
    height: 60%;
    font-size: 15px;
  }
  
  .data_list_name h1 {
    font-size: 15px;
  }
  
  .round_items {
    width: 40%;
    height: 60%;
  }
  
  .list_parent_span {
    transform: translateX(15px);
  }
  
  .round_items .list_color_span {
    width: 35px;
    height: 35px;
  }
  
  .round_items .list_color_span:nth-child(2) {
    transform: translateX(-10px);
  }
  .round_items .list_color_span:nth-child(3) {
    transform: translateX(-20px);
  }
  .round_items .list_color_span:nth-child(4) {
    transform: translateX(-30px);
  }
  
  .button_items {
    height: 60%;
  }
  
  .load_list,
  .delete_list {
    font-size: 9px;
  }
  
  
  .rose-round-div {
    transform: translate(-35%, 60%);
  }
}
