@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@font-face {
  font-family: manus;
  src: url("../assets/manus.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.palette {
  width: 100vw;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.palette_nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f3ef;
}

.color_palette_div {
  width: 14%;
  height: 80%;
  margin-left: 40px;
  box-sizing: border-box;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #2fa8cc;
  border-radius: 20px;
  color: #fff;
  font-family: manus;
  font-size: 22px;
}

.nav_div {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: #849994;
}

.nav_div::before {
  content: " ";
  background-color: #849994;
  position: absolute;
  left: -5%;
  height: 100%;
  width: 10%;
  border-radius: 50%;
}

.nav_div ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  outline: none;
  margin-top: 5px;
  font-size: 18px;
}

.navLink {
  text-decoration: none;
  list-style: none;
  color: rgb(51, 51, 51);
  position: relative;
}

.navLink::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  background-color: #f4f3ef;
  transform: scaleX(0) translateY(300%);
  transition: 0.3s;
}

.navLink:hover::after {
  transform: scaleX(1) translateY(300%);
}

.activeLink {
  position: relative;
}

.activeLink::before {
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #f4f3ef;
  box-shadow: 0px 0px 4px #64c98b, 0px 0px 7px #64c98b;
  position: absolute;
  bottom: 0;
  transform: translateY(300%);
}

#logout {
  color: #f4f3ef;
}

.palette_main {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f3ef;
}

.main_div {
  width: 80%;
  height: 70%;
  z-index: 1;
}

.rose-round-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  background-color: rosybrown;
  transform: translate(-25%, 25%);
}
