@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@font-face {
  font-family: manus;
  src: url("../assets/manus.ttf");
}

.profile_main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f3ef;
  position: relative;
}

.profile_div {
  width: 75%;
  height: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #f4f3ef;
  border: 2px solid #888;
  z-index: 2;
}

.prof_image_div {
  width: 100%;
  height: 100%;
  z-index: 10;
  border-right: 2px solid #888;
}

.prof_details_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.prof_msg_div {
  width: 100%;
  height: 130%;
}

.show_msg_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: manus;
  font-size: 25px;
  pointer-events: none;
  user-select: none;
  animation: fade-in 3s ease-out forwards;
}

.prof_username_div,
.prof_password_div {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prof_username_div h1,
.prof_password_div h1 {
  color: #333333;
  font-size: 23px;
  pointer-events: none;
  user-select: none;
  align-self: center;
}

.prof_username_div p,
.prof_password_div p {
  width: 100%;
  font-size: 23px;
  font-family: manus;
  color: #888;
  font-style: italic;
  pointer-events: none;
  user-select: none;
  margin-left: 15px;
}

.button_div {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof_username_div div button,
.prof_password_div div button,
.delete_prof_btn,
.cancel_delete_prof_btn {
  width: 60%;
  height: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #e3e3e3, -5px -5px 13px #ffffff;
}

.delete_prof_btn {
  color: #fff;
  margin-right: 25px;
  background-color: rosybrown;
}

.prof_username_div div button:active,
.prof_password_div div button:active,
.delete_prof_btn:active,
.cancel_delete_prof_btn:active,
.prof_button_div button:active {
  box-shadow: inset -4px -4px 20px #d2d1ce, inset 3px 3px 7px #ffffff;
}

.prof_button_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prof_button_div button {
  width: 30%;
  height: 55%;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background-color: rosybrown;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(206, 170, 170), -5px -5px 13px #ffffff;
}

.prof_date_div {
  width: 95%;
  height: 100%;
  color: #888;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-bottom: 10px;
  pointer-events: none;
  user-select: none;
}

.rose-prof-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rosybrown;
  opacity: 0.6;
  transform: translate(-25%, 25%);
}

.username_change_div {
  width: 100%;
  height: 100%;
  background-color: #f4f3ef;
  position: absolute;
  animation: slide-in-div 1.8s cubic-bezier(0.64, -0.16, 0.36, 1.56) forwards;
  border: 2px solid #888;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes slide-in-div {
  0% {
    top: -400%;
  }

  80%,
  100% {
    top: 0%;
  }
}

.password_change_div {
  width: 100%;
  height: 100%;
  background-color: #f4f3ef;
  position: absolute;
  animation: slide-in-pass-div 1.8s cubic-bezier(0.64, -0.16, 0.36, 1.56)
    forwards;
  border: 2px solid #888;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@keyframes slide-in-pass-div {
  0% {
    bottom: -400%;
  }

  80%,
  100% {
    bottom: 0%;
  }
}

.remove_slide_in {
  animation: slide-out-div 1.8s cubic-bezier(0.64, -0.16, 0.36, 1.56) forwards;
}

.remove_slide_pass_in {
  animation: slide-out-pass-div 1.8s cubic-bezier(0.64, -0.16, 0.36, 1.56)
    forwards;
}

@keyframes slide-out-div {
  0% {
    top: 0%;
  }

  80%,
  100% {
    top: -400%;
  }
}

@keyframes slide-out-pass-div {
  0% {
    bottom: 0%;
  }

  80%,
  100% {
    bottom: -400%;
  }
}

.username_change_div h1,
.password_change_div h1 {
  font-size: 18px;
}
.username_change_div input,
.password_change_div input {
  border: none;
  outline: none;
  height: 50%;
  width: 40%;
  font-family: manus;
  font-size: 24px;
}

.no_pointer {
  pointer-events: none;
}

.username_change_button_div {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.username_change_button_div button {
  margin-left: 10px;
}

.delete_prof_div {
  width: 80%;
  height: 70%;
  border: 2px solid #888888;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade-in 1.8s ease-out forwards;
}

.delete_prof_div p {
  pointer-events: none;
  user-select: none;
  font-size: 19px;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 1;
  }
}

.fade_out {
  animation: fade-out 1.4s ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

.del_btn_div {
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
